body {
    background: linear-gradient(180deg, #020024 0%, #090979 0%, #5f53ad 100%) no-repeat;
    min-height: 100vh;
}

.navbar {
    border-bottom: 2px solid #fff;
}

/* .navbar-nav .nav-item  */

.navbar-nav .nav-item a {
    color: #fff;
    font-weight: bold;
}

.company-info {
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-info a {
    color: #fff;
}

.sub-nav .nav-item .nav-link {
    color: #fff;
}

.sub-nav .nav-item .nav-link.active {
    color: #d1b60b;
}

.service {
    background-color: #ebebeb;
    padding: 10px;
    width: 80%;
    margin-top: 8px;
}

.service-type {
    background-color: #ebebeb;
    width: 18rem;
    text-align: center;
    padding: 8px;
}

.service p,
.service-type p {
    margin: 0;
}
.edit-btn {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: rgb(146, 146, 150);
    padding: 5px 30px;
}
.edit-btn:hover {
    color: #fff;
}
.wrap-text {
    max-width: 250px;
}
.btn-default {
    margin: 30px auto;
    width: 50%;
    background-color: #e4e4e4;
}

.company-form-container {
    padding: 5px;
    background-color: #fff;
}

.our-services h1 {
    font-size: 48px;
    position: relative;
}

.our-services .title {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.our-services .title:before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    margin-top: 10px;
}
.our-services .title:after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 780px;
    height: 3px;
    background: linear-gradient(
        to right,
        #dfceb9 0%,
        #dfceb9 45%,
        rgba(0, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0) 55%,
        #dfceb9 55%,
        #dfceb9 100%
    );
}
.our-services .title:before,
.title:after {
    position: absolute;
    top: 100%;
}

.company {
    background-color: #fff;
    padding: 1rem;
}

.company .info {
    color: #777777;
}

.company .contact {
    color: #979797;
}

.hr {
    border: 2px solid rgb(122, 122, 122);
}

.white-hr {
    border: 2px solid rgb(252, 252, 252);
}

.book-form {
    max-width: 700px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 1rem;
}

.book-btn {
    color: #fff;
    background-color: #4ba0e8;
    border-radius: 30px;
    padding: 7px 35px;
    margin: 15px auto;
}

.contact-info {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.705);
}

.contact-info .item {
    margin-top: 1rem;
}

.footer {
    margin-top: 3rem;
    background-color: #fff;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li a {
    color: #000000;
}

.social #facebook-link,
.social #facebook-link:visited {
    color: #3b5998;
}
.social #google-plus-link,
.social #google-plus-link:visited {
    color: #d34836;
}
.social #twitter-link,
.social #twitter-link:visited {
    color: #55acee;
}
.social #linkedin-link,
.social #linkedin-link:visited {
    color: #0077b5;
}

.social .icon-container {
    font-size: 2rem;
}

.icon-container a,
.icon-container a:hover,
.icon-container a:active {
    text-decoration: none;
}

.social #facebook-link:hover,
.social #facebook-link:active {
    color: #5772ac;
}
.social #google-plus-link:hover,
.social #google-plus-link:active {
    color: #ec6d5c;
}
.social #twitter-link:hover,
.social #twitter-link:active {
    color: #7cc0f4;
}
.social #linkedin-link:hover,
.social #linkedin-link:active {
    color: #01a6ff;
}

.copy-rights {
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
}
